* {
	margin: 0;
	padding: 0;
}
body {
	-font: 71%/1.5 BPG Rioni, Verdana, Sans-Serif;
	background: #eee;
	background-image: url('bg.jpg');
	width: 1280px;
}
#content {
	width: 450px;
	position: absolute;
	left: 200px;
	top: 70px;
	/*border: 1px solid black;*/
}
#container_ka {
	position: absolute;
	/*margin: 0 auto;*/
	-width: 1360px;
	-left: 50;
	top: 550px;
	-bottom: -40px;
	-border: 2px solid black;
	/*display: inline;*/
	left: 160px;
	-right: -170px;
	/*margin-right: -680px;*/

}

[type~=submit] {
	position: absolute;
	left: 600px;
	top: 140px;
	width: 300px;
	height: 100px;
	background-color: #33FF33
}

#container_en {
	position: absolute;
	-margin: 100px auto;
	-width: 1280px;
	-bottom: -40px;
	left: 150px;
	top: 550px;
	-margin-right: -100px;
	-border: 2px solid black;
	display: none;
}

#container_num {
	position: absolute;
	-margin: 100px auto;
	width: 380px;
	left: 320px;
	top: 550px;
	-margin-right: 600px;
	/*border: 2px solid black;*/
	display: none;
}

Input, textarea {
	width: 500px;
	position: relative;
	border: 2px solid #227022;
	margin: 10px;
	padding: 4px;
	-webkit-border-radius: 10px;
	font: 2em/2 BPG Rioni, Verdana, Sans-Serif;
	font-weight: bold;
	-webkit-box-shadow: 5px 5px 3px #888;
}

#keyboard {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#keyboard li {
	float: left;
	margin: 0 9px 9px 0;
	width: 109px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	background: #fff;
	border: 2px solid #227022;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 3px #888;
	font: 2.5em/1.6 BPG Rioni, Verdana, Sans-Serif;
	font-weight: bold;
}

.left-shift {
	clear: left;
}
#keyboard .delete {
	width: 120px;
	background-color: #33ff33;
	font: 2em/2 BPG Rioni, Verdana, Sans-Serif;
}

#keyboard .right-shift {
	width: 120px;
	background-color: #33ff33;
}

#keyboard .left-shift {
	width: 120px;
	background-color: #33ff33;
}
#keyboard .domain {
	width: 130px;
	background-color: #33ff33;
}
#keyboard .special {
	background-color: #33ff33;
}

.lastitem {
	margin-right: 0;
}
#keyboard .meorexazi {
	clear: left;
	float: left;
	margin-left: 50px;
}
#keyboard .mesamexazi {
	clear: left;
	float: left;
	-margin-left: 60px;
}
#keyboard .mesamexazi_en {
	clear: left;
	float: left;
	-margin-left: 60px;
}
#keyboard .newline {
	clear: left;
	float: left;
}
#keyboard .zero {
	margin-left: 120px;
}

.uppercase {
	text-transform: uppercase;
}
#keyboard .space {
	clear: left;
	width: 600px;
	margin-left: 60px;
}
.on {
	display: none;
}
#keyboard li:active {
	position: relative;
	top: 2px;
	left: 2px;
	border-color: #227022;
	cursor: pointer;
	-webkit-box-shadow: 3px 3px 1px #888;
	background-color: #ffff33;
}
